.dashboard__footer {
  align-items: center;
  background-color: $light-grey;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.dashboard__footer svg {
  color: $dark-blue;
  height: 1.5rem;
  width: 1.5rem;
}

.dashboard__footer div:first-child {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dashboard__footer div:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.dashboard__footer div:nth-child(2) a {
  color: $red;
}