.dashboard__nav {
  align-items: center;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
}

.dashboard__nav .logo {
  justify-content: center;
}